.cabecalho{
    background-color:#ffffff;
    margin-bottom: 25px;
    padding: 15px;
}

.cabecalho-titulo{
    font-family: arial,sans-serif;
    font-weight: bold;
    color: #808080

}
.cabecalho-titulo-destaque {
    color: #52a4fc; /* Azul */
}
.cabecalho-subtitulo{
    color: #808080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin : 60px;

}
.div-botao {
    border: 1px solid #000000;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    cursor:pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.div-botao:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.div-conteudo{
    align-items: start;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    gap:10px 30px;
    height: 400px;
    padding: 20px;

}
.div-video-container{
    max-height: 300px;
    overflow: hidden;
    position: relative;

}

.rodape {
    margin-bottom: 20px;
    color: gray;
    margin: 30px;
}
.video-player {
    margin-top: -200px;
    width: 100%;
}
.video-source{
    height: auto;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: -10px
}